[submodule "05_Age_gender_detection/imgui"]
	path = 05_Age_gender_detection/src/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "05_Age_gender_detection/src/implot"]
	path = 05_Age_gender_detection/src/implot
	url = git@github.com:epezent/implot.git
[submodule "05_Age_gender_detection/src/rzv_drp-ai_tvm"]
	path = 05_Age_gender_detection/src/rzv_drp-ai_tvm
	url = git@github.com:renesas-rz/rzv_drp-ai_tvm.git
